// Force change the app bar title font/padding
.mdc-top-app-bar__title {
  font-family: 'Nunito';
  padding-left: 0;
}

// Fix styles when included image in modal title
.pool-detail-modal {
  .mdc-dialog__title::before {
    display: none !important;
  }
  .mdc-dialog__close {
    top: -5px !important;
  }
}

// Increase space behind floating topbar
@media (max-width: 599px) {
  .mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
  }
}
